<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">&nbsp;</h3>

    <div class="row">
      <div class="col-xs-4">
        <img src="" alt="" class="img-responsive">
      </div>

      <div class="col-xs-8 text-right">
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <p><strong>Email:</strong></p>
    <p><strong>Phone:</strong></p>
  </div>
</div>