<div class="card mt-3">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5>Contacts</h5>

    <input
      type="text"
      class="form-control w-50"
      placeholder="Enter a search value"
      #searchBox
      (keyup)="search(searchBox.value)">

    <button class="btn btn-success">New Contact</button>
  </div>

  <ul class="list-group list-group-flush">
    <cms-contact-item
      *ngFor="let currentContact of contacts | contactsFilter: term"
      [contact]="currentContact">
    </cms-contact-item>
  </ul>
</div>